<h1>Login</h1>
<hr>
<div class="col-md-4">
    <!--Add the #name-of-form to identify where the data will available at and use ngSumit to gain access to the form values-->
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid">Required</em>
      <!--banana in a box - provided for two way binding component <==> html {(ng..)} - we only need one way here though -->
      <!--You will need the 'name' parameter along with the ngModel binding of the same name as below-->
      <input (ngModel)="userName" name="userName" required id="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid">Required</em>
      <input (ngModel)="password" name="password" required id="password" type="password" class="form-control"placeholder="Password..." />
    </div>
        
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>